@use '../abstract/' as *;

$component-name: 'c-card';
$layout-name: 'l-card';

.#{$component-name}{
    @apply flex flex-col justify-between items-center bg-card-bg-color rounded-card-radius p-card-padding;

    &--temperature{
        @apply relative bg-card-bg-image bg-cover bg-no-repeat bg-right gap-[5rem];
    }

    
    &--weather{
        @apply flex-row gap-[0.75rem] justify-start bg-card-weather-bg-color;
    }
    
    &__title{
        &--weather{
            @apply text-small-font-size;
        }
    }
    
    &__wrapper{
        &--temperature{
            @apply flex flex-wrap gap-[0.5rem];
        }

        &--air{
            @apply flex justify-between;
        }
    }
    
    &__rate{
        @apply flex font-bold gap-[0.25rem] leading-[1] text-indicator-text-color;

        &--weather{
            @apply items-end;
        }

        &--air{
            @apply flex-col items-center;
        }
    }

    &__value{
        @apply text-header-font-size;

        &--air{
            @apply text-[calc(var(--emphasis-font-size)/2)] text-white;
        }

        &--green-small{
            @apply text-rate-text-color text-regular-font-size;
        }
    }

    &__unit{
        @apply text-small-font-size h-fit;

        &--fs-regular{
            @apply font-normal;
        }
    }

    &__status{
        @apply text-rate-text-color text-header-font-size;
    }
}

.#{$layout-name}{
    @apply w-full h-full;

    &--temperature{
        @apply max-w-[30rem] min-h-[30rem] col-start-1 row-start-1 row-span-2;

        &::after{
            --cloud-width: 5.3125rem;
            --cloud-height: 2.8125rem;
            --cloud-top: -0.5rem;
            --cloud-left: -1.5625rem;

            @apply content-[''] absolute w-[var(--cloud-width)] h-[var(--cloud-height)] left-[var(--cloud-left)] top-[var(--cloud-top)] bg-cloud-big-image bg-contain bg-no-repeat;

            @include breakpoint(min,md){
               @apply w-[calc(var(--cloud-width)*2)] h-[calc(var(--cloud-height)*2)] left-[calc(var(--cloud-left)*2)] top-[calc(var(--cloud-top)*2)];
            };
        }
    }
    
    &--weather{
        @apply max-h-[3.75rem] flex-[1_1_130px];
    }

    &--air{
        @apply min-h-[15rem];
    }
    
    
    &__location{
        @apply self-end;
    }
    
    &__wrapper{
        &--temperature{
            @apply self-end;
        }
    }

    &__title{
        @apply pt-[1rem]
    }
}